.pedidoInfo {

    background-color: var(--details);
    padding: 20px;
    border-radius: var(--borderRadius);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: var(--gap);
}

/*Informações*/
.pedidoInfo div {

    display: flex;
    flex-direction: column;
    
}

/*Informações do pedido*/
div p span {

    color: var(--theme);

}
