:root {

    --bg: #1b1b1b;
    --details: #272727;
    --theme: #d1ff03;
    --text: #ffffff;
    --error: #ff1e00;

    --borderWidth: 2px;
    --borderRadius: 10px;
    --gap: 10px;
    --gap2: 5px;

    --titleSize: 20px;

}

/*Reset*/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

@font-face {

    font-family: "text";
    src: url("./src/fonts/Geist-SemiBold.otf");
}

body {

    background-color: var(--bg);
    color: var(--text);
    font-family: "text";
    overflow-x: hidden;
}

.Logo, .LogoOnline {

    font-size: var(--titleSize);

}
.LogoOnline {

    color: var(--theme);

}

.buttonPO {

    max-width: 100%;
    min-width: 150px;
    height: 40px;
    background-color: var(--theme);
    border-radius: var(--borderRadius);
    padding: 10px;
    border-width: 0px;
    font-family: "text";
    color: #1b1b1b;
    text-align: center;
    transition: 0.2s;
}
.buttonPO:hover {

    filter: brightness(90%);
}

input, select {

    max-width: 100%;
    width: 350px;
    height: 40px;
    border-radius: var(--borderRadius);
    border-width: var(--borderWidth);
    border-color: white;
    border-style: solid;
    outline: none;
    padding: 0px 10px;
    font-family: "text";
    transition: 0.2s;
}
input:focus, select:focus {

    border-color: var(--theme);
}
.inputError, .selectError {

    max-width: 100%;
    width: 350px;
    height: 40px;
    border-radius: var(--borderRadius);
    border-width: var(--borderWidth);
    border-color: var(--error);
    border-style: solid;
    outline: none;
    padding: 0px 10px;
    font-family: "text";
    transition: 0.2s;

}
